<nb-layout>
  <nb-layout-header fixed>
    <nb-search type="rotate-layout"></nb-search>
  </nb-layout-header>

  <nb-sidebar>
    <app-sidebar></app-sidebar>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" accent="info" *ngIf="city; else empty_search">
      <nb-card-header>
        Weather in {{ city.name }}
      </nb-card-header>
      <nb-card-body>
        <h1>{{ city.temp | number:'1.0-0'}}&#8451;</h1>
        <div><img [src]="city.icon" /></div>
        <h4>{{ city.main }}</h4>
      </nb-card-body>
    </nb-card>
    <ng-template #empty_search>
      <nb-card>
        <nb-card-body>
          <h2>{{ message }}</h2>
        </nb-card-body>
      </nb-card>
    </ng-template>
  </nb-layout-column>
</nb-layout>