<nb-layout>
  <nb-layout-header fixed>
    <nb-search type="rotate-layout"></nb-search>
  </nb-layout-header>

  <nb-sidebar>
    <app-sidebar></app-sidebar>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" accent="info" *ngIf="weather; else empty_search">
      <nb-card-header>
        Weather for - {{ weather.name }}
      </nb-card-header>
      <nb-card-body>
        <div>
          <span>{{ weather.temp | number:'1.0-0'}}&#8451;</span>
        </div>
        <div>
          {{ weather.main }}
        </div>
      </nb-card-body>
    </nb-card>
    <ng-template #empty_search>
      <nb-card>
        <nb-card-body>
          No data
        </nb-card-body>
      </nb-card>
    </ng-template>
  </nb-layout-column>
</nb-layout>