<nb-layout>
  <nb-layout-header fixed>
    <nb-search type="rotate-layout"></nb-search>
  </nb-layout-header>

  <nb-sidebar>
    <app-sidebar></app-sidebar>
  </nb-sidebar>

  <nb-layout-column class="colored-column-basic" [nbSpinner]="loading" nbSpinnerStatus="primary">
    <nb-card accent="info" *ngIf="city; else empty_search">
      <nb-card-header style="text-align: center">
        {{ city.name}}
      </nb-card-header>
      <nb-card-body>
        <div class="align">
          <h1>{{ city.main.temp | number:'1.0-0'}}&#8451;</h1>
          <div><img [src]="city.weather.icon|buildIconUrl" /></div>
          <h1>{{ city.weather.main }}</h1>
        </div>

        <div class="align">
          <div>
            <div>Pressure</div>
            <div>{{ city.main.pressure }}</div>
          </div>
          <div>
            <div>Humidity</div>
            <div>{{ city.main.humidity }}</div>
          </div>
          <div>
            <div>Min</div>
            <div>{{ city.main.temp_min | number:'1.0-0' }}&#8451;</div>
          </div>
          <div>
            <div>Max</div>
            <div>{{ city.main.temp_max | number:'1.0-0' }}&#8451;</div>
          </div>
        </div>

        <div class="align">
          <h3>{{ city.weather.description }}</h3>
        </div>
      </nb-card-body>
    </nb-card>
    <ng-template #empty_search>
      <nb-card>
        <nb-card-body>
          <h2>{{ message }}</h2>
        </nb-card-body>
      </nb-card>
    </ng-template>
  </nb-layout-column>
</nb-layout>
